<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <!-- 应用名 -->
    <dubbo:application name="consumer"/>
    <!-- 注册中心的ip地址 -->
    <dubbo:registry protocol="zookeeper" address="${dubbo.registry.address}"/>
    <!-- 消费方用什么协议获取服务（用dubbo协议在20880端口暴露服务）-->
    <dubbo:protocol name="dubbo" port="${dubbo.protocol.port}"/>
    <!-- 消费的服务 -->
    <dubbo:reference id="dubboService" interface="cn.van.dubbo.service.DubboService" check="false" timeout="5000" lazy="true" />

</beans>