<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.van.sharding.demo.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="cn.van.sharding.demo.entity.User">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="user_name" jdbcType="VARCHAR" property="userName" />
        <result column="user_age" jdbcType="INTEGER" property="userAge" />
    </resultMap>
    <sql id="Base_Column_List">
        id, user_name, user_age
    </sql>

    <insert id="insert">
        insert into user (id,user_name,user_age) values
        (#{id}, #{userName}, #{userAge})
    </insert>

    <select id="selectAll" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from user
    </select>

</mapper>