<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.van.redis.view.mapper.ArticleMapper">
  <resultMap id="BaseResultMap" type="cn.van.redis.view.entity.ArticleDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="views" jdbcType="BIGINT" property="views" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, title, content, url, views, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from article
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAllArticleId" resultType="java.lang.Long">
    select id from article
  </select>

  <update id="updateByPrimaryKey" parameterType="cn.van.redis.view.entity.ArticleDO">
    update article
    set title = #{title,jdbcType=VARCHAR},
        content = #{content,jdbcType=VARCHAR},
        url = #{url,jdbcType=VARCHAR},
        views = #{views,jdbcType=BIGINT},
        create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>