<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.van.redis.lock.mapper.FamilyRewardRecordMapper">

  <sql id="Base_Column_List">
    id, family_id, reward_type, state, create_time, update_time
  </sql>
  <select id="selectCountByFamilyIdAndRewardType" parameterType="java.util.Map" resultType="java.lang.Integer">
    select 
    count(*)
    from family_reward_record
    where family_id = #{familyId,jdbcType=BIGINT} and reward_type = #{rewardType,jdbcType=INTEGER}
  </select>

  <insert id="insert" parameterType="cn.van.redis.lock.entity.FamilyRewardRecordDO">
    insert into family_reward_record (id, family_id, reward_type,
      state, create_time, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{familyId,jdbcType=BIGINT}, #{rewardType,jdbcType=INTEGER},
      #{state,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
</mapper>